@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.input-output {
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    background-color: #181818;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.input-region {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.input {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1rem;
    text-align: center;
}

.options > .input > img {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
    height: 100px;
    cursor: pointer;
}

.input.selected img {
    background-color: #1d3557;
}

.options > .input:hover {
    transform: translateY(-5px);
}

.output-region {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
}

.output-region .output-titles {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    margin-bottom: 10px;
}

.output-region .outputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

img {
    width: 50px;
}

.container.start .user-output-image {
    animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
    50% {
        transform: rotate(40deg);
    }
}

.container.start .computer-output-image {
    animation: computerShake 0.7s ease infinite;
}

@keyframes computerShake {
    50% {
        transform: rotate(-140deg);
    }
}

.user-output-image {
    transform: rotate(90deg) translateY(-10px);
}

.computer-output {
    transform: rotateX(180deg);
}

.computer-output-image {
    transform: rotate(-90deg) translateY(-10px); 
}

.output-message {
    font-size: 0.7rem;
    white-space: nowrap;
    text-align: center;
}

.reset-btn {
    padding: 10px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.game-message {
    font-size: 1rem;
    text-align: center;
    display: none;
}